.navbar__board-content {
  background-color: #f8f9fa93;
  min-height: 55px;
}

.block__option-board-content {
  width: 30px;
  height: 27px;
}

.block__option-wrapper :hover {
  background-color: #cccccc;
  border-radius: 3px;
}

.block__change-visibility:hover {
  background-color: #cccccc;
  border-radius: 3px;
}
