.navbar__board-content {
  background-color: #f8f9fab9;
  min-height: 55px;
  border-radius: 4px;
}

.block__option-board-content {
  width: 30px;
  height: 27px;
}

.block__option-wrapper :hover {
  background-color: #cccccc;
  border-radius: 3px;
}

.block__change-visibility:hover {
  background-color: #cccccc;
  border-radius: 3px;
}

.input__board-name {
  border: none;
  border-radius: 4px;
  width: fit-content;
  font-weight: bold;
  color: #455570;
}

.hidden-span {
  visibility: hidden;
  white-space: pre;
  position: absolute;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #455570;
}

.block__popover-visibility {
  width: 300px !important;
  margin-left: 100px;
}

.block__popover-visibility .popover-arrow {
  left: -75px !important;
}

// .popover-body {
//   padding: 10px !important;
// }
