.image-user {
  height: 24px;
  width: 25px;
}
.navbar {
  .form-control {
    transition: width 0.3s ease-in-out;
    width: 200px;
  }

  .search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 1;
  }

  .focused {
    .form-control {
      width: 500px;
    }
  }

  .search-results {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: calc(100% - 2px);
    border: 1px solid #ced4da;
    border-top: none;
    z-index: 2;
    max-height: 200px;
    overflow-y: auto;
  }
}
.no-caret::after {
  display: none !important;
}

.image-user-wrapper {
  display: flex;
  align-items: center;
}

.image-user {
  cursor: pointer;
}
.custom-dropdown-menu {
  margin-top: 1rem !important;
  transform: translateY(1rem) !important;
}

.block__bell-wrapper {
  padding: 4px 7px 4px 7px;
  border-radius: 19px;
}

.block__bell-wrapper:hover {
  background-color: #616161;
}
