.block__list-board {
  margin: 50px 16px 0px;
  max-width: 830px;
  min-width: 288px;
  width: 100%;
}

.block__nav-list-board {
  margin: 50px 0px 0px;
  max-height: 90vh;
  padding: 0 16px;
  position: sticky;
  top: 40px;
  width: 256px;
}

.block__recenly-board {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/clonetrello-103ad.appspot.com/o/Background-1.png?alt=media&token=a347d2cc-b5b8-4cc7-b9a5-c6eb8bff3e34");
  width: 193px;
  height: 96px;
  background-size: cover;
}

.block__your-board {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/clonetrello-103ad.appspot.com/o/pexels-rpnickson-2647990.jpg?alt=media&token=39e55b27-deec-44ef-b22f-1c966d1f069d");
  width: 193px;
  height: 96px;
  background-size: cover;
}

.block__your-workspaces {
  margin-top: 15px;
}

.block__board-content {
  max-width: 1266px;
}

.block__create-new-board {
  width: 193px;
  height: 96px;
}

.block__create-new-board p {
  font-size: small;
}

.btn__action-board {
  background-color: #f1f2f4 !important;
  margin-right: 10px;
}

.menu__nav-board {
  color: #2e405e !important;
}

.menu__nav-board:hover {
  background-color: #a8b0bc !important;
}

.menu__nav-board.active {
  color: white !important;
}

.menu__nav-board.active:hover {
  background-color: #0d6efd !important;
}

.btn__collapse-board {
  background-color: white !important;
  border: 0px !important;
  color: #2e405e !important;

  width: 100%;
}

.btn__collapse-board:hover {
  background-color: #a8b0bc !important;
}

.block__add-member {
  margin-right: 13px;
}

.block__board-action {
  padding-left: 8px;
  color: #2e405e !important;
}

.block__board-action span {
  font-size: 14px;
}

.block__board-action:hover {
  background-color: #b5bdc9c4;
  border-radius: 5px;
}
.small-alert {
  font-size: 1rem;
  margin-top: 0.5rem;
}
.scrollable-container {
  max-height: 300px; 
  overflow-y: auto;
  position: relative;

  &::-webkit-scrollbar {
    width: 8px; 
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); 
    border-radius: 4px; 
  }

  &::-webkit-scrollbar-track {
    background: transparent; 
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 8px; 
    background: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(5px); 
    pointer-events: none; 
  }
}
