.block__board-content-container {
  flex-grow: 1;
  position: relative;
}

.block__catalog-list {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: #fff6 #00000026;
  scrollbar-width: auto;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
  list-style: none;
  height: 94.4vh;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/clonetrello-103ad.appspot.com/o/pexels-rpnickson-2559941.jpg?alt=media&token=6fa791ce-433e-481d-afc8-79b745d3af7c");
  background-size: cover;
}

.qwer {
  position: fixed;

  width: 100%;
  z-index: 1;
  top: 54px;
  left: 0px;
}

.block__list-element {
  padding: 0 6px;
  align-self: flex-start;
  flex-shrink: 0;
  display: block;
  height: 100%;
  white-space: nowrap;
}

.block__list-element-wraper {
  background-color: #f1f2f4;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: #44546f;
  display: flex;
  justify-content: space-between;
  max-height: 100%;
  flex-direction: column;
  padding-bottom: 8px;
  position: relative;
  scroll-margin: 8px;
  white-space: normal;
  width: 272px;
  box-sizing: border-box;
  vertical-align: top;
}

.block__list-title-wraper {
  display: flex;
  row-gap: 0;
  padding: 8px 8px 0;
  position: relative;
  flex-grow: 0;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.block__list-title {
  position: relative;
  flex-basis: min-content;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 20px;
  color: #172b4d;
  width: 100%;
}

.block__list-title h6 {
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 8px 6px 12px;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
  cursor: pointer;
}

.block__list-title textarea {
  border-radius: 8px;
  padding: 4px 8px;
  box-shadow: none;
  box-sizing: border-box;
  overflow: hidden;
  resize: none;
  width: 100%;
  //height: 30px;
  border: 0px;
  //overflow-wrap: break-word;
  //padding: 6px 8px 6px 12px;
}

.btn__list-option {
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: 0px;
  padding: 5px;
  border-radius: 8px;
  color: #626f86;
  background-color: #f1f2f4;
  border: 0px;
}

.btn__list-option:hover {
  background-color: #d2d7e0;
}

.label-list-title {
  display: block;
  width: 100%;
  margin-bottom: 4px;
  overflow: hidden;
  overflow-wrap: break-word;
  white-space: normal;
}
.position-relative {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  min-width: 160px;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
}
.dropdown-header {
  position: relative;
}

.dropdown-header .flex-grow-1 {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
.dropdown-menu .dropdown-header,
.dropdown-menu .dropdown-item {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0;
}
.dropdown-menu-right {
  right: auto;
  left: 0;
}

// .list-card {
//   display: flex;
//   flex-direction: column;
//   flex: 1 1 auto;
//   row-gap: 8px;
//   margin: 0 4px;
//   padding: 0px 4px;
//   height: 100%;
//   overflow-x: hidden;
//   overflow-y: auto;
//   z-index: 1;
//   list-style: none;
//   scrollbar-width: thin;
// }

// .list-card li {
//   display: flex;
//   flex-direction: column;
//   row-gap: 8px;
//   scroll-margin: 80px;
// }

// .list-content {
//   background-color: #ffffff;
//   border-radius: 8px;
//   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
//     rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
//   color: #172b4d;
//   cursor: pointer;
//   min-height: 40px;
//   position: relative;
//   scroll-margin: 8px;
// }

// .list-content-cover {
//   display: flow-root;
//   position: relative;
//   padding: 8px 12px 4px;
//   min-height: 24px;
//   z-index: 10;
// }

// .btn-edit-card-title {
//   display: none;
//   position: absolute;
//   top: 0.4px;
//   right: 2px;
//   border-radius: 16px;
//   padding: 6px 8px;
//   background-color: #ffffff;
//   z-index: 10;
//   border: 0px;
// }

// .list-content:hover {
//   border: solid 2px #0d6efd;
// }

// .list-content:hover .btn-edit-card-title {
//   display: block;
// }

// .list-content-text {
//   display: block;
//   width: 100%;
//   margin-bottom: 4px;
//   overflow: hidden;
//   overflow-wrap: break-word;
//   white-space: normal;
// }

// .list-content-text-input {
//   resize: none;
//   border: 0px;
//   width: 100%;
// }

// .add-a-card {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   column-gap: 4px;
//   padding: 5px 10px;
//   border-radius: 8px;
//   margin-top: 10px;
// }

// .add-a-card:hover {
//   background-color: #c4c9d2;
//   border-radius: 12px;
// }

// .add-a-card button {
//   background-color: transparent;
//   border-radius: 8px;
//   color: #44546f;
//   padding: 6px 12px 6px 8px;
//   text-decoration: none;
//   user-select: none;
//   display: flex;
//   align-items: center;
//   justify-content: flex-start;
//   flex-grow: 1;
//   margin: 0;
//   border: 0px;
// }

// .block__add-list {
//   background-color: #f1f2f4a9;
//   color: #44546f;
//   border-radius: 10px;
//   width: 272px;
// }

// .btn__close-input-add-list {
//   border: 0px;
//   background-color: #f1f2f4a9;
// }

// .block__label-add-list:hover {
//   background-color: #c4c9d2e7;
//   border-radius: 10px;
// }
